<h3>Dear <%=h @inquiry.name %></h3>

<p>
Thanks for your inquiry. This is an automatic reply from the system and please do not reply to this email.<br/>
You will be receiving a response from our professional team within the next 24 hours.<br/>
We appreciate your patience and look forward to cooperating with you. Thanks.<br/>
<br/><br/>
The information Center,<br/>
BrosisDesign.com
</p>
