<h3>Dear <%=h @inquiry.name %></h3>

<p>
  We are glad to receive your inquiry!
  You will get a professional proposal within 10 hours from our designer.
  So Please Be Patient.
  BrosisDesign look forward to cooperate with you! Thanks!
</p>
