body { margin:0 auto; font-size:12px; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; line-height:1.5;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul { list-style:none;}
img { border:0px;}
a { color:#000000; text-decoration:none;}
a:hover{color:#003366; text-decoration:underline;}

.container{width:100%;margin:0 auto;}

#header{background-color:#444;height:100px;width: 100%;}

#center{background: #f0f0f0 url(../images/background-main.gif) repeat -70% 0;float: left;width: 100%;}
#center-inner {padding: 0 0 30px 0;background: url(../images/big-fade.png) repeat-x -70% 0;float: left;width: 100%;}

/*logo*/
#header .header_logo{line-height:100px;text-indent:20px;font-size:40px;width:20%;color:#ffffff;float:left;font-family:"Impact";}
#header .header_logo:hover{color:#C0C0C0;cursor:pointer;}

/*navi*/
#header .inNow{background-color:#c42804;color: #f6f4f4;}
#header .navi{margin:0;padding:0;list-style:none;}
#header .navi{line-height:35px;height:35px;float:left;margin-bottom:1em;}
#header .navi li{color:#AAA;float:left;margin-left:8px;margin-top:35px;border-radius:8px;padding-right:10px;padding-left:10px;position:relative;}
#header .navi li:hover{visibility:inherit;color:#ffffff;background-color :#555555;cursor:pointer;}
#header .navi li:hover ul{left:0;top:2.4em;z-index:99;border-radius:0px 10px 10px 10px;background:#555555;}
#header .navi a{text-decoration: none;color:#ffffff;}
#header .navi ul{position:absolute;top:-999em;width:17em;}
#header .navi ul li{float:none;margin-left:0px;margin-top:0px;padding-right:30px;padding-left:10px;border-radius:0px;background-color:transparent;}
#header .navi ul li:hover{background-color:transparent;}

/*home page center right*/
div#center-right{float: right;width: 440px;}
div#center-right .center-right-inner{padding-left: 10px;color:#616161;}
div#center-right .center-right-inner h2{color: #555555}
div#center-right .center-right-inner p{font-size: 13px;margin-top: 10px;}

/*category page right for category info*/
#cat-right{float: right;width: 495px;}
#cat-right .cat-right-inner{padding-left: 10px;color:#616161;}
#cat-right .cat-right-inner h2{color: #555555;}

/*category page left for show category's projects */
#cat_projects {margin: 20px 0 0 30px;padding: 10px 0 7px 5px;width: 100%;}
#cat_projects a {padding: 0 15px 16px 0;margin-right: 30px;margin-bottom: 20px;text-decoration: none;color: #000000;float: left;background: url(../images/shadowAlpha1.png) no-repeat bottom right;}
#cat_projects .singlepic{padding: 0 11px 12px 0;margin-right: 30px;margin-bottom: 20px;text-decoration: none;color: #000000;float: left;background: url(../images/shadowAlpha2.png) no-repeat bottom right;}
#cat_projects a img {position: relative;vertical-align: top;}
#cat_projects a span {position: absolute;padding: 16px 12px;font-size: 18px;font-weight: bold;visibility: hidden;width: 180px;height: 150px;}

/*faq*/
.faq-li{margin: 20px 250px;border: 1px solid #DDD;font-size: 13px;padding: 4px 5px;word-break:break-all;border-radius:10px;background: rgba(0, 0, 0, 0.05);color: #616161;}

/*inquiry-form*/
#inquiry-title {margin: 20px auto auto 30px;font-size: 20px;font-weight: bold;color: #555555;}
#inquiry-form{float: left;width: 50%;}
#inquiry-form label{width: 150px;color: #616161;font-size: 12px;list-style: none;float: left}
#inquiry-form ul li{list-style: none;margin-bottom: 12px;}
#inquiry-form ul{margin: 20px auto auto 30px;}
#inquiry-form select {width: 290px;padding: 0;margin: 0;height: 22px;}
#inquiry-form textarea {width: 289px;height: 150px;}
#inquiry-form textarea:hover{border:2px solid #555555;background-color: #f0f0f0}
#inquiry-form input[type="text"] {width: 289px;height: 18px;}
#inquiry-form input[type="text"]:hover {border:2px solid #555555;background-color: #f0f0f0}
#inquiry-form input[type="email"] {width: 289px; height: 18px;}
#inquiry-form input[type="email"]:hover {border:2px solid #555555;background-color: #f0f0f0}
#inquiry-form input[type="tel"] {width: 289px; height: 18px;}
#inquiry-form input[type="tel"]:hover {border:2px solid #555555;background-color: #f0f0f0}
#inquiry_submit {margin-top:30px;font-size: 17px;font-weight: bold;color: #555555;width: 74%;height: 40px;border:2px solid #C0C0C0;border-radius:10px;}
#inquiry_submit:hover {background-color: #616161;color: #ffffff;cursor: pointer;border-style: none }

/*deal-process*/
#deal-process{float: right;width: 50%}
#process-title{margin: 20px auto auto 30px;font-size: 20px;font-weight: bold;color: #555555;}
#deal-process .process-step{margin-top: 30px;clear: both}
#deal-process .process-step .step-img{float: left}
#deal-process .process-step .step-cotent{width:80%;padding-top:3px;position: relative;height: 100%;line-height: 100%;color:#999}
#deal-process .process-step .step-cotent h2{margin-bottom: 5px;margin-top: 5px;color: #616161;border: none;}

/*team page*/
div#team-main {width: 970px;margin: 0 auto;}
div#team-intor {margin: 20px 0 50px 0;width: 90%;}
div#team-intor p {font-size: 15px;color: #616161}
ul.member-list { width: 970px; margin: 0 0 18px -30px; }
ul.member-list li { display: inline; }
ul.member-list a { background: #fff; display: inline; float: left; margin: 0 0 27px 30px; width: auto; padding: 10px 10px 15px; text-align: center; text-decoration: none; color:#555555; font-size: 18px; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); -webkit-transform: rotate(-2deg); -webkit-transition: -webkit-transform .15s linear; -moz-transform: rotate(-2deg); }
ul.member-list img { display: block; width: 190px; margin-bottom: 12px; }
ul.member-list a:after { content: attr(title); }
ul.member-list li:nth-child(even) a { -webkit-transform: rotate(2deg);  -moz-transform: rotate(2deg); }
ul.member-list li:nth-child(3n) a { -webkit-transform: none; position: relative; top: -5px;  -moz-transform: none; }
ul.member-list li:nth-child(5n) a { -webkit-transform: rotate(5deg); position: relative; right: 5px;  -moz-transform: rotate(5deg); }
ul.member-list li:nth-child(8n) a { position: relative; right: 5px; top: 8px; }
ul.member-list li:nth-child(11n) a { position: relative; left: -5px; top: 3px; }
ul.member-list li.messy a { margin-top: -375px; margin-left: 160px; -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); }
ul.member-list li a:hover { -webkit-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); position: relative; z-index: 5; }

/*error message*/
div.field_with_errors input{background: orangered}

/*footer*/
#footer{ color: #616161;clear: left;padding-top: 10px;border-top: 1px #616161 dotted;padding-bottom: 10px;padding-left: 70em;}
#footer a{color: #616161;}