<div>
  <% @categories.each do |ca| %>
    <div>
      <%=h ca.name %>
      <%= link_to "修改",edit_admin_category_path(ca) %>
      <%= link_to "删除",ca,:confirm => '确定删除吗?', :method => :delete %>
    </div>
  <% end %>
</div>
<div>
  <%= link_to "增加类别", new_admin_category_path %>
</div>
