<div id="team-main">
  <div id="team-intor">
    <p>&nbsp;&nbsp;We are a vibrant, unity and fraternity team from BrosisDesign architecture design company in China.
      We have great expertise in the field of architectural rendering,hundreds of successful cases is the best explanation.
      Our team is constituted by a group of youth.So we have unlimited creativity, and ability to accept new ideas and new philosophy, every member of us
      have the nerve of the creator. We love our team, passion for the cause we are engaged,
      and are willing to give our everything to our cause. Let us use the professional skills, friendly service,
      and new concept to present to you products more than you imagine.
    </p>
  </div>

  <div id="team-member-show">
    <%= render 'member_show' %>
  </div>

</div>
