<div id="team-main">
  <div id="team-intor">
    <p>&nbsp;&nbsp;We are experienced team that delivers powerful results on projects large and small.
    They translate your vision into vibrant and inspiring architectural renderings, technical illustrations,
    virtual tours, and websites.BrosisDesign co. is fast, reliable, and easy to work with. If you are looking for personal,
    USA based service with attention to detail and quality; from a team of artists who take true pride in this craft,
    please consider us for your next project.
    </p>
  </div>

  <div id="team-member-show">
    <%= render 'member_show' %>
  </div>

</div>
