<div id="team-main">
  <div id="team-intor">
    <p>We have a vibrant and professional team of architects and 3D artist professionals with cutting edge expertise and
      creativity in the field of architectural rendering. With the use of the latest modeling and rendering techniques,
      BrosisDesign converts your project to tailored, life-like 3D architectural renderings of the best visualizations
      with right combination between arts and design. Our works are highly customer oriented. Your needs and expectations
      are our supreme priorities for every single project, big or small.
    </p>
  </div>

  <div id="team-member-show">
    <%= render 'member_show' %>
  </div>



</div>
