<div style="float: left;">
  <ul>
    <li class="faq-li">
      <h2 style="color:#555555">Q: What services do we provide?</h2>
      A: The Brosis Design company focuses on providing exquisite architectural renderings including Interior Rendering,
      Exterior Rendering, Bird’s Eye Views and Floor Plans.
    </li>
    <li class="faq-li">
      <h2>Q: What do we need you to provide?</h2>
      A: We would like you to provide the blueprint or CAD designs (DXF or DWG file) of your project,
      and detailed description of your purpose and project. Hand drawn sketch or photo with dimension marked
      can also do the job.
    </li>
    <li class="faq-li">
      <h2>Q: How to contact Brosis Design and how much do we charge?</h2>
      A: Please send us your inquiry via our website and leave your contact and questions. You will be timely contacted by our
      team for further information concerning service and prices.
    </li>
    <li class="faq-li">
      <h2>Q: Is any deposit required？</h2>
      A: Yes. A deposit equal to 30% of the total amount of the contract needs to be paid when both parties enter the contract.
      Payment terms may vary from projects..
    </li>
    <li class="faq-li">
      <h2>Q: How to pay?</h2>
      A: Payment can be completed either by Western Union or telegraphic transfer up to your own choice.
    </li>
    <li class="faq-li">
      <h2>Q: How long does a project take?</h2>
      A: It may take three to four working days for small projects. Some projects may require weeks or even longer time due to
      complexity or unpredictable uncertainties.
    </li>
    <li class="faq-li">
      <h2>Q: Can customers get the original files when the project is completed?</h2>
      A: We are sorry that the original files cannot be provided to customers for free. Purchase of those files are upon
      negotiation between two parties.
    </li>
  </ul>
</div>