<!DOCTYPE html>
<html>
  <div id="process-title">
      Business Process
      <hr style="border:1px dotted;width: 35%;position: absolute" />
  </div>

  <div class="process-step">
    <div class="step-img"><%= image_tag "step1.png",:size => "110x110" %></div>
    <div class="step-cotent">
      <h2>Step 1: Make Inquiry</h2>
      at step one we doing this!!!
    </div>
  </div>

  <div class="process-step">
    <div class="step-img"><%= image_tag "step2.png",:size => "110x110"  %></div>
    <div class="step-cotent">
      <h2>Step 2: Communicate With Us Get Proposal</h2>
      at step two we doing this!!!
    </div>
  </div>

  <div class="process-step">
    <div class="step-img"><%= image_tag "step3.png",:size => "110x110"  %></div>
    <div class="step-cotent">
      <h2>Step 3: Revise Your Drafts</h2>
      at step three we doing this!!!
    </div>
  </div>

  <div class="process-step">
    <div class="step-img"><%= image_tag "step4.png",:size => "110x110"  %></div>
    <div class="step-cotent">
      <h2>Step 4: Finish</h2>
      at step four we doing this!!!
    </div>
  </div>

</html>
