<!DOCTYPE html>
<html>
  <div id="process-title">
      Business Process
  </div>

  <div class="process-step">
    <div class="step-img"><%= image_tag "step1.png",:size => "110x110" %></div>
    <div class="step-cotent">
      <h3>Step 1:Send Your Inquiry</h3><br/>
      Your inquiry will be sent to us by simply completing the online form. More detailed information is highly
      recommended as we would then be able to better understand your demands and try to find most appropriate solutions.
      Your inquiry will be replied within 24 hours after the submission．
    </div>
  </div>

  <div class="process-step">
    <div class="step-img"><%= image_tag "step2.png",:size => "110x110"  %></div>
    <div class="step-cotent">
      <h3>Step 2: Negotiation And Approval Cooperation</h3><br/>
      You will be contacted timely by our professional team. A tailored proposal will be made for your project and will be sent to you
      for initial assessment.  Once the proposal is approved, we will start to design.
    </div>
  </div>

  <div class="process-step">
    <div class="step-img"><%= image_tag "step3.png",:size => "110x110"  %></div>
    <div class="step-cotent">
      <h3>Step 3: Design And Revision</h3><br/>
      We implement the customized proposal and make modification and revisions according to your every requirement until you are
      satisfied with the final product.
    </div>
  </div>

  <div class="process-step">
    <div class="step-img"><%= image_tag "step4.png",:size => "110x110"  %></div>
    <div class="step-cotent">
      <h3>Step 4: Completion And Delivery</h3><br/>
      The final product will be delivered to you by Email. We definitely look forward to the next opportunity to provide service to you.
    </div>
  </div>

</html>
