<html>
<head></head>
<body>
<div class="suc-main">
  <div class="suc-img"><%= image_tag "heart_suc.png" %></div>
  <div class="suc-content">
    <h2>Thanks for your inquiry!</h2>
    <p>You will be receiving a response via E-mail from our professional team within the next 24 hours.</p>
    <p class="suc-back" style="margin-top: 20px;"><%= link_to "Back Home",root_path %></p>
  </div>

</div>
</body>
</html>