<div id="footer">
  <div class="footer-content">

    <a href="msnim:chat?contact=brosisdesign.sales@hotmail.com">
        <%= image_tag("MSN_g.png", :mouseover => "/images/MSN_w.png",:size => "50x50",:alt => "chat with MSN") %>
    </a>
    <a href="aim:goIM?screenname=brosisdesign.sales@gmail.com">
        <%= image_tag("AIM_g.png", :mouseover => "/images/AIM_w.png",:size => "50x50",:alt => "chat with AIM") %>
    </a>
    <a href="skype:brosisdesign.sales?chat">
        <%= image_tag("Skype_g.png", :mouseover => "/images/Skype_w.png",:size => "50x50",:alt => "chat with Skype") %>
    </a>
   <p>©2010 BrosisDesign Architecture Design Co. &nbsp; | &nbsp;<a href="mailto:BrosisDesign.sales@gmail.com">
     BrosisDesign.sales@gmail.com</a>
   </p>
  </div>
</div>