<div id="header">

  <div class="header_logo">
    BrosisDesign
  </div>

  <ul class="navi">
    <li>Home</li>
    <li>Service
      <ul>
        <li>Architectural Renderings</li>
        <li>Architectural Drawing</li>
        <li>Architectural Design</li>
      </ul>
    </li>
    <li>Inquiry Now</li>
    <li>Designers</li>
    <li>About Us</li>
  </ul>

</div>