<div id="header">
	
	<div class="header_logo">
		BrosisDesign
	</div>
	
	<ul class="navi">
		<li>Home</li>
		<li>
			Design
			<ul>
				<li>Design1</li>
				<li>Design2</li>
			</ul>
		</li>
		<li>Drawing
			<ul>
				<li>Drawing1</li>
				<li>Drawing2</li>
			</ul>
		</li>
		<li>Rendering</li>
		<li>About</li>
	</ul>
	
</div>